<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="wrapper">
        <img src="{{ product?.images }}" alt="" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6">
      <div class="wrapper">
        <h2>{{ product?.title }}</h2>

        <p>{{ product?.description }}</p>
        <h1>{{ product?.price | currency }}</h1>
        <button class="btn btn-primary">Add To Cart</button>
      </div>
    </div>
  </div>
</div>