<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This si about us page</p>
</div>

<div class="container">
  <section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quia, molestias, nobis, doloremque voluptatum
      minima nisi tenetur repudiandae animi atque velit corporis nostrum! Incidunt blanditiis ipsa autem cupiditate,
      amet laudantium at illum earum corrupti nisi tenetur aspernatur ullam itaque deleniti consectetur ad ipsum,
      perferendis excepturi sapiente dolore iusto inventore dicta.</p>
  </section>
</div>